### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import os
import csv
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_csv = os.path.join("Resources/School_Data.csv")
student_data_csv = os.path.join("Resources/Student_Data.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_csv)
student_data = pd.read_csv(student_data_csv)

# Combine the data into a single dataset.  
district_testing_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
district_testing_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
# # selecting data
# identification_df=district_testing_df[["student_name", "school_name"]]
renamed_df = district_testing_df.rename(columns = {"student_name": "Student Name", "gender": "Gender", 
                                                   "grade": "Grade", "school_name":"School Name",
                                                   "reading_score": "Reading Score", "math_score":"Math Score",
                                                  "type": "Type", "size": "Size", "budget": "Budget"})
renamed_df.head()
# identification_df.columns({"student_name":"Student Name", "school_name":"School Name"})

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type,Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
total_schools = renamed_df["School Name"].unique()
total_schools = len(total_schools)
total_schools

15

In [4]:
# Tabulating Total Students
total_students = student_data["Student ID"].count()
total_students

39170

In [5]:
# Tabulating Total Budget
budget = renamed_df["Budget"].unique().sum()
budget

24649428

In [6]:
#Calculate the average math score
average_math_scores= renamed_df["Math Score"].mean()
average_math_scores

78.98537145774827

In [7]:
# Calculate the average reading score
average_reading_scores = renamed_df["Reading Score"].mean()
average_reading_scores

81.87784018381414

In [8]:
# Calculate the percentage of students with a passing math score (70 or greater)
math_percentage = district_testing_df.loc[district_testing_df["math_score"]>=70]
passing_math_percentage=math_percentage["School ID"].count()/ total_students*100
passing_math_percentage

74.9808526933878

In [9]:
# Calculate the percentage of students with a passing reading score (70 or greater)
reading_percentage = district_testing_df.loc[district_testing_df["reading_score"]>=70]
passing_reading_percentage = reading_percentage["School ID"].count()/ total_students*100
passing_reading_percentage

85.80546336482001

In [10]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
pass_percentage = math_percentage.loc[math_percentage["reading_score"]>=70]
overall_pass_percentage = pass_percentage["School ID"].count()/total_students*100
overall_pass_percentage

65.17232575950983

In [11]:
# Create a dataframe to hold the above results
district_summary_df = pd.DataFrame({"Total Schools": [total_schools],
                                    "Total Students":[total_students],
                                    "Total Budget":[budget],
                                    "Average Math Scores": [average_math_scores],
                                    "Average Reading Scores": [average_reading_scores], 
                                    "Percentage Passed (Math)": [passing_math_percentage],
                                    "Percentage Passed (Reading)": [passing_reading_percentage],
                                    "Overall Passing Percentage":[overall_pass_percentage]})

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Scores,Average Reading Scores,Percentage Passed (Math),Percentage Passed (Reading),Overall Passing Percentage
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [12]:
school_data_df = renamed_df[["School ID","School Name","Type","Size", "Budget", "Student Name", "Student ID", "Gender", "Grade", "Reading Score", "Math Score" ]].copy()
school_data_df.head()

,School ID,School Name,Type,Size,Budget,Student Name,Student ID,Gender,Grade,Reading Score,Math Score
0,0,Huang High School,District,2917,1910635,Paul Bradley,0,M,9th,66,79
1,0,Huang High School,District,2917,1910635,Victor Smith,1,M,12th,94,61
2,0,Huang High School,District,2917,1910635,Kevin Rodriguez,2,M,12th,90,60
3,0,Huang High School,District,2917,1910635,Dr. Richard Scott,3,M,12th,67,58
4,0,Huang High School,District,2917,1910635,Bonnie Ray,4,F,9th,97,84

In [13]:
school_groups_df = school_data_df.groupby(["School Name", "Type"])
school_groups_df.count().head()

,,School ID,Size,Budget,Student Name,Student ID,Gender,Grade,Reading Score,Math Score
School Name,Type,,,,,,,,,
Bailey High School,District,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,Charter,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,District,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,District,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,Charter,1468,1468,1468,1468,1468,1468,1468,1468,1468

In [33]:
total_students_per_school = school_groups_df["Student ID"].count()
total_students_per_school

4976

In [15]:
budget_per_school = school_groups_df["Budget"].mean()
budget_per_school

School Name            Type
Bailey High School     District    3124928
Cabrera High School    Charter     1081356
Figueroa High School   District    1884411
Ford High School       District    1763916
Griffin High School    Charter      917500
Hernandez High School  District    3022020
Holden High School     Charter      248087
Huang High School      District    1910635
Johnson High School    District    3094650
Pena High School       Charter      585858
Rodriguez High School  District    2547363
Shelton High School    Charter     1056600
Thomas High School     Charter     1043130
Wilson High School     Charter     1319574
Wright High School     Charter     1049400
Name: Budget, dtype: int64

In [16]:
per_pupil_spending = (budget_per_school/total_students_per_school)
per_pupil_spending

School Name            Type
Bailey High School     District    628.0
Cabrera High School    Charter     582.0
Figueroa High School   District    639.0
Ford High School       District    644.0
Griffin High School    Charter     625.0
Hernandez High School  District    652.0
Holden High School     Charter     581.0
Huang High School      District    655.0
Johnson High School    District    650.0
Pena High School       Charter     609.0
Rodriguez High School  District    637.0
Shelton High School    Charter     600.0
Thomas High School     Charter     638.0
Wilson High School     Charter     578.0
Wright High School     Charter     583.0
dtype: float64

In [17]:
avg_mathscore_per_school = school_groups_df["Math Score"].mean()
avg_mathscore_per_school

School Name            Type
Bailey High School     District    77.048432
Cabrera High School    Charter     83.061895
Figueroa High School   District    76.711767
Ford High School       District    77.102592
Griffin High School    Charter     83.351499
Hernandez High School  District    77.289752
Holden High School     Charter     83.803279
Huang High School      District    76.629414
Johnson High School    District    77.072464
Pena High School       Charter     83.839917
Rodriguez High School  District    76.842711
Shelton High School    Charter     83.359455
Thomas High School     Charter     83.418349
Wilson High School     Charter     83.274201
Wright High School     Charter     83.682222
Name: Math Score, dtype: float64

In [18]:
avg_readingscore_per_school = school_groups_df["Reading Score"].mean()
avg_readingscore_per_school

School Name            Type
Bailey High School     District    81.033963
Cabrera High School    Charter     83.975780
Figueroa High School   District    81.158020
Ford High School       District    80.746258
Griffin High School    Charter     83.816757
Hernandez High School  District    80.934412
Holden High School     Charter     83.814988
Huang High School      District    81.182722
Johnson High School    District    80.966394
Pena High School       Charter     84.044699
Rodriguez High School  District    80.744686
Shelton High School    Charter     83.725724
Thomas High School     Charter     83.848930
Wilson High School     Charter     83.989488
Wright High School     Charter     83.955000
Name: Reading Score, dtype: float64

In [19]:
schools_passing_math = renamed_df.loc[renamed_df["Math Score"]>=70]
schools_passing_math.count()
schools_passing_math_gb = schools_passing_math.groupby(["School Name", "Type"])
total_schools_passing_math = schools_passing_math_gb["Student ID"].count()/total_students_per_school
total_schools_passing_math

School Name            Type
Bailey High School     District    0.666801
Cabrera High School    Charter     0.941335
Figueroa High School   District    0.659885
Ford High School       District    0.683096
Griffin High School    Charter     0.933924
Hernandez High School  District    0.667530
Holden High School     Charter     0.925059
Huang High School      District    0.656839
Johnson High School    District    0.660576
Pena High School       Charter     0.945946
Rodriguez High School  District    0.663666
Shelton High School    Charter     0.938671
Thomas High School     Charter     0.932722
Wilson High School     Charter     0.938677
Wright High School     Charter     0.933333
Name: Student ID, dtype: float64

In [20]:
schools_passing_reading = renamed_df.loc[renamed_df["Reading Score"]>=70]
schools_passing_reading
schools_passing_reading_gb = schools_passing_reading.groupby(["School Name", "Type"])
total_schools_passing_reading = schools_passing_reading_gb["Student ID"].count()/total_students_per_school
total_schools_passing_reading

School Name            Type
Bailey High School     District    0.819333
Cabrera High School    Charter     0.970398
Figueroa High School   District    0.807392
Ford High School       District    0.792990
Griffin High School    Charter     0.971390
Hernandez High School  District    0.808630
Holden High School     Charter     0.962529
Huang High School      District    0.813164
Johnson High School    District    0.812224
Pena High School       Charter     0.959459
Rodriguez High School  District    0.802201
Shelton High School    Charter     0.958546
Thomas High School     Charter     0.973089
Wilson High School     Charter     0.965396
Wright High School     Charter     0.966111
Name: Student ID, dtype: float64

In [21]:
school_overall_passing_percentage = (total_schools_passing_reading + total_schools_passing_math)/2
school_overall_passing_percentage

# pass_percentage = math_percentage.loc[math_percentage["reading_score"]>=70]
# overall_pass_percentage = pass_percentage["School ID"].count()/total_students*100
# overall_pass_percentage

School Name            Type
Bailey High School     District    0.743067
Cabrera High School    Charter     0.955867
Figueroa High School   District    0.733639
Ford High School       District    0.738043
Griffin High School    Charter     0.952657
Hernandez High School  District    0.738080
Holden High School     Charter     0.943794
Huang High School      District    0.735002
Johnson High School    District    0.736400
Pena High School       Charter     0.952703
Rodriguez High School  District    0.732933
Shelton High School    Charter     0.948609
Thomas High School     Charter     0.952905
Wilson High School     Charter     0.952037
Wright High School     Charter     0.949722
Name: Student ID, dtype: float64

In [22]:
school_summary_df = pd.DataFrame({"Total Students Per School": total_students_per_school,
                                  "Budget Per School": budget_per_school,
                                  "Spending Per Pupil": per_pupil_spending,
                                  "Average Score Per School (Math)": avg_mathscore_per_school,
                                  "Average Score Per School (Reading)": avg_readingscore_per_school,
                                  "Pass Rate Per School (Math)": total_schools_passing_math,
                                  "Pass Rate Per School (Reading)":total_schools_passing_reading,
                                  "Schools Overall Pass Rate":school_overall_passing_percentage})

school_summary_df

,,Total Students Per School,Budget Per School,Spending Per Pupil,Average Score Per School (Math),Average Score Per School (Reading),Pass Rate Per School (Math),Pass Rate Per School (Reading),Schools Overall Pass Rate
School Name,Type,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.743067
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.738080
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.943794
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.948609
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.949722

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [23]:
per_school_df = school_summary_df[["Total Students Per School",
                                  "Budget Per School",
                                  "Spending Per Pupil",
                                  "Average Score Per School (Math)",
                                  "Average Score Per School (Reading)",
                                  "Pass Rate Per School (Math)",
                                  "Pass Rate Per School (Reading)",
                                  "Schools Overall Pass Rate"]]

per_school_df.head(15)

,,Total Students Per School,Budget Per School,Spending Per Pupil,Average Score Per School (Math),Average Score Per School (Reading),Pass Rate Per School (Math),Pass Rate Per School (Reading),Schools Overall Pass Rate
School Name,Type,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.743067
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.738080
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.943794
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.948609
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.949722

In [24]:
top_five_performing_schools = per_school_df.sort_values(["Schools Overall Pass Rate"],ascending = False).head(5)
top_five_performing_schools

,,Total Students Per School,Budget Per School,Spending Per Pupil,Average Score Per School (Math),Average Score Per School (Reading),Pass Rate Per School (Math),Pass Rate Per School (Reading),Schools Overall Pass Rate
School Name,Type,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [25]:
bottom_five_performing_schools = per_school_df.sort_values(["Schools Overall Pass Rate"],ascending = True).head(5)
bottom_five_performing_schools

,,Total Students Per School,Budget Per School,Spending Per Pupil,Average Score Per School (Math),Average Score Per School (Reading),Pass Rate Per School (Math),Pass Rate Per School (Reading),Schools Overall Pass Rate
School Name,Type,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [26]:
ninth_grade_math = renamed_df.loc[renamed_df["Grade"]=="9th"].groupby("School Name")["Math Score"].mean()
tenth_grade_math = renamed_df.loc[renamed_df["Grade"]=="10th"].groupby("School Name")["Math Score"].mean()
eleventh_grade_math = renamed_df.loc[renamed_df["Grade"]=="11th"].groupby("School Name")["Math Score"].mean()
twelfth_grade_math = renamed_df.loc[renamed_df["Grade"]=="12th"].groupby("School Name")["Math Score"].mean()

school_math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math,
    "10th": tenth_grade_math,
    "11th": eleventh_grade_math,
    "12th": twelfth_grade_math
})

school_math_scores_by_grade.head()

                            9th       10th       11th       12th
School Name
Bailey High School    77.083676  76.996772  77.515588  76.492218
Cabrera High School   83.094697  83.154506  82.765560  83.277487
Figueroa High School  76.403037  76.539974  76.884344  77.151369
Ford High School      77.361345  77.672316  76.918058  76.179963
Griffin High School   82.044010  84.229064  83.842105  83.356164

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [27]:
ninth_grade_reading = renamed_df.loc[renamed_df["Grade"]=="9th"].groupby("School Name")["Reading Score"].mean()
tenth_grade_reading = renamed_df.loc[renamed_df["Grade"]=="10th"].groupby("School Name")["Reading Score"].mean()
eleventh_grade_reading = renamed_df.loc[renamed_df["Grade"]=="11th"].groupby("School Name")["Reading Score"].mean()
twelfth_grade_reading = renamed_df.loc[renamed_df["Grade"]=="12th"].groupby("School Name")["Reading Score"].mean()

school_reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_reading,
    "10th": tenth_grade_reading,
    "11th": eleventh_grade_reading,
    "12th": twelfth_grade_reading
})

school_reading_scores_by_grade.head()

                            9th       10th       11th       12th
School Name
Bailey High School    81.303155  80.907183  80.945643  80.912451
Cabrera High School   83.676136  84.253219  83.788382  84.287958
Figueroa High School  81.198598  81.408912  80.640339  81.384863
Ford High School      80.632653  81.262712  80.403642  80.662338
Griffin High School   83.369193  83.706897  84.288089  84.013699

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [31]:
school_spending_per_pupil_bins = [575,593.75,612.50,631.25,999999]
school_spending_per_pupil_labels = ["575-593.74", "593.75-612.49","612.50-631.24",">631.25"]
renamed_df["School Spending Per Pupil"]=pd.cut(renamed_df["Budget"]/renamed_df["Size"],school_spending_per_pupil_bins, labels= school_spending_per_pupil_labels)

school_spending = renamed_df.groupby("School Spending Per Pupil")
school_spending.head()

school_spending_avg_math = school_spending["Math Score"].mean()
school_spending_avg_reading = school_spending["Reading Score"].mean()
school_spending_percentage_passing_math= renamed_df[renamed_df["Math Score"]>70].groupby("School Spending Per Pupil")["Student ID"].count()/school_spending["Student ID"].count()
school_spending_percentage_passing_reading= renamed_df[renamed_df["Reading Score"]>70].groupby("School Spending Per Pupil")["Student ID"].count()/school_spending["Student ID"].count()
# school_spending_percentage_overall_passing = renamed_df[(renamed_df["Math Score"]>70) & (allScores by School size_df["Reading Score"]>70)].groupby("School Spending Per Pupil")["Student ID"].count()/school_spending["Student ID"].count()


school_scores_by_spending_per_pupil = pd.DataFrame({"Average Math Score": school_spending_avg_math,
                                               "Average Reading Score":school_spending_avg_reading,
                                               "Student Percentage Passing Math": school_spending_percentage_passing_math,
                                               "Student Percertage Passing Reading": school_spending_percentage_passing_reading,
#                                                "Student Overall Passing Percentage": school_spending_percentage_overall_passing
                                               })           

school_scores_by_spending_per_pupil.head()

,Average Math Score,Average Reading Score,Student Percentage Passing Math,Student Percertage Passing Reading
School Spending Per Pupil,,,,
575-593.74,83.363065,83.964039,0.903266,0.934516
593.75-612.49,83.529196,83.838414,0.905252,0.924715
612.50-631.24,78.484327,81.667908,0.703445,0.825109
>631.25,77.418997,81.147112,0.660292,0.791792

## Scores by School Size

* Perform the same operations as above, based on school size.

In [37]:
school_size_bins = [1564,2701,3838,99999]
school_size_labels = ["Small Size School(400-1563)","Medium Size School(1564-3837)","Large Size School (3838-5000)"]
renamed_df["School Size"]=pd.cut(renamed_df["Size"]/renamed_df["Size"],school_size_bins, labels= school_size_labels)

school_size = renamed_df.groupby("School Size")
school_size.head()

school_size_avg_math = school_size["Math Score"].mean()
school_size_avg_reading = school_size["Reading Score"].mean()
school_size_percentage_passing_math= renamed_df[renamed_df["Math Score"]>70].groupby("School Size")["Student ID"].count()/school_spending["Student ID"].count()
school_size_percentage_passing_reading= renamed_df[renamed_df["Reading Score"]>70].groupby("School Size")["Student ID"].count()/school_spending["Student ID"].count()
# school_spending_percentage_overall_passing = renamed_df[(renamed_df["Math Score"]>70) & (allScores by School size_df["Reading Score"]>70)].groupby("School Spending Per Pupil")["Student ID"].count()/school_spending["Student ID"].count()


school_scores_by_size = pd.DataFrame({"Average Math Score": school_size_avg_math,
                                               "Average Reading Score":school_size_avg_reading,
                                               "Student Percentage Passing Math": school_size_percentage_passing_math,
                                               "Student Percertage Passing Reading":school_size_percentage_passing_reading,
#                                                "Student Overall Passing Percentage": school_spending_percentage_overall_passing
                                               })           

school_scores_by_size.head()

,Average Math Score,Average Reading Score,Student Percentage Passing Math,Student Percertage Passing Reading
575-593.74,NaN,NaN,NaN,NaN
593.75-612.49,NaN,NaN,NaN,NaN
612.50-631.24,NaN,NaN,NaN,NaN
>631.25,NaN,NaN,NaN,NaN
Large Size School (3838-5000),NaN,NaN,NaN,NaN

## Scores by School Type

* Perform the same operations as above, based on school type