### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
# Dependencies and Setup
import os
import csv
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_csv = os.path.join("Resources/School_Data.csv")
student_data_csv = os.path.join("Resources/Student_Data.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_csv)
student_data = pd.read_csv(student_data_csv)

# Combine the data into a single dataset.  
district_testing_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
district_testing_df.head()

In [2]:
# # selecting data
# identification_df=district_testing_df[["student_name", "school_name"]]
renamed_df = district_testing_df.rename(columns = {"student_name": "Student Name", "gender": "Gender", 
                                                   "grade": "Grade", "school_name":"School Name",
                                                   "reading_score": "Reading Score", "math_score":"Math Score",
                                                  "type": "Type", "size": "Size", "budget": "Budget"})
renamed_df.head()
# identification_df.columns({"student_name":"Student Name", "school_name":"School Name"})

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type,Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
total_schools = school_data["School ID"].count()
total_schools

15

In [4]:
# Tabulating Total Students
total_students = student_data["Student ID"].count()
total_students

39170

In [5]:
# Tabulating Total Budget
budget = renamed_df["Budget"]
total_budget = budget.sum()
total_budget

82932329558

In [6]:
#Calculate the average math score
math= renamed_df["Math Score"]
average_math_scores = math.mean()
average_math_scores

78.98537145774827

In [7]:
# Calculate the average reading score
reading = renamed_df["Reading Score"]
average_reading_scores = reading.mean()
average_reading_scores

81.87784018381414

In [8]:
# Calculate the percentage of students with a passing math score (70 or greater)
passing_math_percentage = district_testing_df.loc[district_testing_df["math_score"]>70]["School ID"].count()/ total_students*100
passing_math_percentage

72.39213683941792

In [9]:
# Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_percentage = district_testing_df.loc[district_testing_df["reading_score"]>70]["School ID"].count()/ total_students*100
passing_reading_percentage

82.97166198621395

In [10]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_pass_percentage = (passing_reading_percentage + passing_math_percentage)/2
overall_pass_percentage

77.68189941281594

In [11]:
# Create a dataframe to hold the above results
district_summary_df = pd.DataFrame({"Total Schools": [total_schools],"Total Students":[total_students],"Total Budget": [total_budget],
                                           "Average Math Score": [average_math_scores],"Average Reading Score": [average_reading_scores], 
                                           "Percentage Passed (Math)": [passing_math_percentage],
                                          "Percentage Passed (Reading)": [passing_reading_percentage],
                                           "Overall Passing Percentage":[overall_pass_percentage]})
district_summary_df = district_summary_df[["Total Schools", "Total Students", "Total Budget", 
                                           "Average Math Score", "Average Reading Score",
                                           "Percentage Passed (Math)", "Percentage Passed (Reading)",
                                          "Overall Passing Percentage"]]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percentage Passed (Math),Percentage Passed (Reading),Overall Passing Percentage
0,15,39170,82932329558,78.985371,81.87784,72.392137,82.971662,77.681899

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [12]:
school_data_df = renamed_df[["School ID","School Name","Type","Size", "Budget", "Student Name", "Student ID", "Gender", "Grade", "Reading Score", "Math Score" ]].copy()
school_data_df.head()

,School ID,School Name,Type,Size,Budget,Student Name,Student ID,Gender,Grade,Reading Score,Math Score
0,0,Huang High School,District,2917,1910635,Paul Bradley,0,M,9th,66,79
1,0,Huang High School,District,2917,1910635,Victor Smith,1,M,12th,94,61
2,0,Huang High School,District,2917,1910635,Kevin Rodriguez,2,M,12th,90,60
3,0,Huang High School,District,2917,1910635,Dr. Richard Scott,3,M,12th,67,58
4,0,Huang High School,District,2917,1910635,Bonnie Ray,4,F,9th,97,84

In [13]:
school_groups_df = school_data_df.groupby(["School Name", "Type"])
school_groups_df.head()

,School ID,School Name,Type,Size,Budget,Student Name,Student ID,Gender,Grade,Reading Score,Math Score
0,0,Huang High School,District,2917,1910635,Paul Bradley,0,M,9th,66,79
1,0,Huang High School,District,2917,1910635,Victor Smith,1,M,12th,94,61
2,0,Huang High School,District,2917,1910635,Kevin Rodriguez,2,M,12th,90,60
3,0,Huang High School,District,2917,1910635,Dr. Richard Scott,3,M,12th,67,58
4,0,Huang High School,District,2917,1910635,Bonnie Ray,4,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
37535,14,Thomas High School,Charter,1635,1043130,Norma Mata,37535,F,10th,76,76
37536,14,Thomas High School,Charter,1635,1043130,Cody Miller,37536,M,11th,84,82
37537,14,Thomas High School,Charter,1635,1043130,Erik Snyder,37537,M,9th,80,90
37538,14,Thomas High School,Charter,1635,1043130,Tanya Martinez,37538,F,9th,71,69
37539,14,Thomas High School,Charter,1635,1043130,Noah Erickson,37539,M,9th,86,76

In [14]:
total_students_per_school = school_groups_df["Student ID"].count()
total_students_per_school

School Name            Type
Bailey High School     District    4976
Cabrera High School    Charter     1858
Figueroa High School   District    2949
Ford High School       District    2739
Griffin High School    Charter     1468
Hernandez High School  District    4635
Holden High School     Charter      427
Huang High School      District    2917
Johnson High School    District    4761
Pena High School       Charter      962
Rodriguez High School  District    3999
Shelton High School    Charter     1761
Thomas High School     Charter     1635
Wilson High School     Charter     2283
Wright High School     Charter     1800
Name: Student ID, dtype: int64

In [15]:
budget_per_school = school_groups_df["Budget"].mean()
budget_per_school

School Name            Type
Bailey High School     District    3124928
Cabrera High School    Charter     1081356
Figueroa High School   District    1884411
Ford High School       District    1763916
Griffin High School    Charter      917500
Hernandez High School  District    3022020
Holden High School     Charter      248087
Huang High School      District    1910635
Johnson High School    District    3094650
Pena High School       Charter      585858
Rodriguez High School  District    2547363
Shelton High School    Charter     1056600
Thomas High School     Charter     1043130
Wilson High School     Charter     1319574
Wright High School     Charter     1049400
Name: Budget, dtype: int64

In [16]:
per_pupil_spending = (budget_per_school/total_students_per_school)
per_pupil_spending

School Name            Type
Bailey High School     District    628.0
Cabrera High School    Charter     582.0
Figueroa High School   District    639.0
Ford High School       District    644.0
Griffin High School    Charter     625.0
Hernandez High School  District    652.0
Holden High School     Charter     581.0
Huang High School      District    655.0
Johnson High School    District    650.0
Pena High School       Charter     609.0
Rodriguez High School  District    637.0
Shelton High School    Charter     600.0
Thomas High School     Charter     638.0
Wilson High School     Charter     578.0
Wright High School     Charter     583.0
dtype: float64

In [17]:
avg_mathscore_per_school = school_groups_df["Math Score"].mean()
avg_mathscore_per_school

School Name            Type
Bailey High School     District    77.048432
Cabrera High School    Charter     83.061895
Figueroa High School   District    76.711767
Ford High School       District    77.102592
Griffin High School    Charter     83.351499
Hernandez High School  District    77.289752
Holden High School     Charter     83.803279
Huang High School      District    76.629414
Johnson High School    District    77.072464
Pena High School       Charter     83.839917
Rodriguez High School  District    76.842711
Shelton High School    Charter     83.359455
Thomas High School     Charter     83.418349
Wilson High School     Charter     83.274201
Wright High School     Charter     83.682222
Name: Math Score, dtype: float64

In [18]:
avg_readingscore_per_school = school_groups_df["Reading Score"].mean()
avg_readingscore_per_school

School Name            Type
Bailey High School     District    81.033963
Cabrera High School    Charter     83.975780
Figueroa High School   District    81.158020
Ford High School       District    80.746258
Griffin High School    Charter     83.816757
Hernandez High School  District    80.934412
Holden High School     Charter     83.814988
Huang High School      District    81.182722
Johnson High School    District    80.966394
Pena High School       Charter     84.044699
Rodriguez High School  District    80.744686
Shelton High School    Charter     83.725724
Thomas High School     Charter     83.848930
Wilson High School     Charter     83.989488
Wright High School     Charter     83.955000
Name: Reading Score, dtype: float64

In [19]:
schools_passing_math = school_data_df.loc[school_data_df["Math Score"]>70]["School ID"].count()/ total_students_per_school
schools_passing_math

School Name            Type
Bailey High School     District     5.698553
Cabrera High School    Charter     15.261572
Figueroa High School   District     9.615463
Ford High School       District    10.352683
Griffin High School    Charter     19.316076
Hernandez High School  District     6.117799
Holden High School     Charter     66.407494
Huang High School      District     9.720946
Johnson High School    District     5.955892
Pena High School       Charter     29.476091
Rodriguez High School  District     7.090773
Shelton High School    Charter     16.102215
Thomas High School     Charter     17.343119
Wilson High School     Charter     12.420499
Wright High School     Charter     15.753333
Name: Student ID, dtype: float64

In [20]:
schools_passing_reading = school_data_df.loc[school_data_df["Reading Score"]>70]["School ID"].count()/ total_students_per_school
schools_passing_reading

School Name            Type
Bailey High School     District     6.531350
Cabrera High School    Charter     17.491927
Figueroa High School   District    11.020685
Ford High School       District    11.865644
Griffin High School    Charter     22.138965
Hernandez High School  District     7.011866
Holden High School     Charter     76.112412
Huang High School      District    11.141584
Johnson High School    District     6.826297
Pena High School       Charter     33.783784
Rodriguez High School  District     8.127032
Shelton High School    Charter     18.455423
Thomas High School     Charter     19.877676
Wilson High School     Charter     14.235655
Wright High School     Charter     18.055556
Name: Student ID, dtype: float64

In [26]:
schools_overall_passing_percentage = (schools_passing_math+schools_passing_reading)/2
schools_overall_passing_percentage

School Name            Type
Bailey High School     District     6.114952
Cabrera High School    Charter     16.376749
Figueroa High School   District    10.318074
Ford High School       District    11.109164
Griffin High School    Charter     20.727520
Hernandez High School  District     6.564833
Holden High School     Charter     71.259953
Huang High School      District    10.431265
Johnson High School    District     6.391094
Pena High School       Charter     31.629938
Rodriguez High School  District     7.608902
Shelton High School    Charter     17.278819
Thomas High School     Charter     18.610398
Wilson High School     Charter     13.328077
Wright High School     Charter     16.904444
Name: Student ID, dtype: float64

In [24]:
# district_summary_df = pd.DataFrame({"Total Schools": [total_schools],"Total Students":[total_students],"Total Budget": [total_budget],
#                                            "Average Math Score": [average_math_scores],"Average Reading Score": [average_reading_scores], 
#                                            "Percentage Passed (Math)": [passing_math_percentage],
#                                           "Percentage Passed (Reading)": [passing_reading_percentage],
#                                            "Overall Passing Percentage":[overall_pass_percentage]})
# district_summary_df = district_summary_df[["Total Schools", "Total Students", "Total Budget", 
#                                            "Average Math Score", "Average Reading Score",
#                                            "Percentage Passed (Math)", "Percentage Passed (Reading)",
#                                           "Overall Passing Percentage"]]
# district_summary_df

school_summary_df = pd.DataFrame({["Total Students Per School": [total_students_per_school]], ["Budget Per School": [budget_per_school]], 
                                  ["Spending Per Pupil": [per_pupil_spending]], ["Average Score Per School (Math)": [avg_mathscore_per_school]], 
                                  ["Average Score Per School (Reading)": [avg_readingscore_per_school]], 
                                  ["Pass Rate Per School (Math)": [schools_passing_math]], ["Pass Rate Per School (Reading)":[schools_passing_reading]], 
                                  ["Schools Overall Pass Rate":[schools_overall_passing_percentage]]})

school_summary_df = school_summary_df[["Total Students Per School", "Budget Per School", "Spending Per Pupil", 
                                       "Average Score Per School (Math)", "Average Score Per School (Reading)", 
                                       "Pass Rate Per School (Math)", "Pass Rate Per School (Reading)",  
                                       "Schools Overall Pass Rate"]]
school_summary_df.head()

SyntaxError: invalid syntax (<ipython-input-24-fb90dd0103f4>, line 12)

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type