### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [76]:
# Dependencies and Setup
import os
import csv
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_csv = os.path.join("Resources/School_Data.csv")
student_data_csv = os.path.join("Resources/Student_Data.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_csv)
student_data = pd.read_csv(student_data_csv)

# Combine the data into a single dataset.  
district_testing_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
district_testing_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [77]:
# # selecting data
# identification_df=district_testing_df[["student_name", "school_name"]]
renamed_df = district_testing_df.rename(columns = {"student_name": "Student Name", "gender": "Gender", 
                                                   "grade": "Grade", "school_name":"School Name",
                                                   "reading_score": "Reading Score", "math_score":"Math Score",
                                                  "type": "Type", "size": "Size", "budget": "Budget"})
renamed_df.head()
# identification_df.columns({"student_name":"Student Name", "school_name":"School Name"})

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type,Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [78]:
total_schools = renamed_df["School Name"].unique()
total_schools = len(total_schools)
total_schools

15

In [79]:
# Tabulating Total Students
total_students = student_data["Student ID"].count()
total_students

39170

In [80]:
# Tabulating Total Budget
budget = renamed_df["Budget"].unique().sum()
budget

24649428

In [81]:
#Calculate the average math score
average_math_scores= renamed_df["Math Score"].mean()
average_math_scores

78.98537145774827

In [82]:
# Calculate the average reading score
average_reading_scores = renamed_df["Reading Score"].mean()
average_reading_scores

81.87784018381414

In [83]:
# Calculate the percentage of students with a passing math score (70 or greater)
math_percentage = district_testing_df.loc[district_testing_df["math_score"]>=70]
passing_math_percentage=math_percentage["School ID"].count()/ total_students*100
passing_math_percentage

74.9808526933878

In [84]:
# Calculate the percentage of students with a passing reading score (70 or greater)
reading_percentage = district_testing_df.loc[district_testing_df["reading_score"]>=70]
passing_reading_percentage = reading_percentage["School ID"].count()/ total_students*100
passing_reading_percentage

85.80546336482001

In [85]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
pass_percentage = math_percentage.loc[math_percentage["reading_score"]>=70]
overall_pass_percentage = pass_percentage["School ID"].count()/total_students*100
overall_pass_percentage

65.17232575950983

In [86]:
# Create a dataframe to hold the above results
district_summary_df = pd.DataFrame({"Total Schools": [total_schools],
                                    "Total Students":[total_students],
                                    "Total Budget":[budget],
                                    "Average Math Scores": [average_math_scores],
                                    "Average Reading Scores": [average_reading_scores], 
                                    "Percentage Passed (Math)": [passing_math_percentage],
                                    "Percentage Passed (Reading)": [passing_reading_percentage],
                                    "Overall Passing Percentage":[overall_pass_percentage]})
#Formating Data Frame
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Average Math Scores"] = district_summary_df["Average Math Scores"].map("{:.2f}".format)
district_summary_df["Average Reading Scores"] = district_summary_df["Average Reading Scores"].map("{:.2f}".format)
district_summary_df["Percentage Passed (Math)"] = district_summary_df["Percentage Passed (Math)"].map("{:.2f}%".format)
district_summary_df["Percentage Passed (Reading)"] = district_summary_df["Percentage Passed (Reading)"].map("{:.2f}%".format)
district_summary_df["Overall Passing Percentage"] = district_summary_df["Overall Passing Percentage"].map("{:.2f}%".format)

#Print Data Frame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Scores,Average Reading Scores,Percentage Passed (Math),Percentage Passed (Reading),Overall Passing Percentage
0,15,39170,"$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [87]:
#Collecting necessary columns from School Data Frame
school_data_df = renamed_df[["School ID","School Name","Type","Size", "Budget", "Student Name", "Student ID", "Gender", "Grade", "Reading Score", "Math Score" ]].copy()
school_data_df.head()

,School ID,School Name,Type,Size,Budget,Student Name,Student ID,Gender,Grade,Reading Score,Math Score
0,0,Huang High School,District,2917,1910635,Paul Bradley,0,M,9th,66,79
1,0,Huang High School,District,2917,1910635,Victor Smith,1,M,12th,94,61
2,0,Huang High School,District,2917,1910635,Kevin Rodriguez,2,M,12th,90,60
3,0,Huang High School,District,2917,1910635,Dr. Richard Scott,3,M,12th,67,58
4,0,Huang High School,District,2917,1910635,Bonnie Ray,4,F,9th,97,84

In [88]:
#School GroupBy School Name and Type
school_groups_df = school_data_df.groupby(["School Name", "Type"])
school_groups_df.count().head()

,,School ID,Size,Budget,Student Name,Student ID,Gender,Grade,Reading Score,Math Score
School Name,Type,,,,,,,,,
Bailey High School,District,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,Charter,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,District,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,District,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,Charter,1468,1468,1468,1468,1468,1468,1468,1468,1468

In [89]:
#Calculating total students per school
total_students_per_school = school_groups_df["Student ID"].count()
total_students_per_school

School Name            Type
Bailey High School     District    4976
Cabrera High School    Charter     1858
Figueroa High School   District    2949
Ford High School       District    2739
Griffin High School    Charter     1468
Hernandez High School  District    4635
Holden High School     Charter      427
Huang High School      District    2917
Johnson High School    District    4761
Pena High School       Charter      962
Rodriguez High School  District    3999
Shelton High School    Charter     1761
Thomas High School     Charter     1635
Wilson High School     Charter     2283
Wright High School     Charter     1800
Name: Student ID, dtype: int64

In [90]:
#Calculating budget_per_school
budget_per_school = school_groups_df["Budget"].mean()
budget_per_school

School Name            Type
Bailey High School     District    3124928
Cabrera High School    Charter     1081356
Figueroa High School   District    1884411
Ford High School       District    1763916
Griffin High School    Charter      917500
Hernandez High School  District    3022020
Holden High School     Charter      248087
Huang High School      District    1910635
Johnson High School    District    3094650
Pena High School       Charter      585858
Rodriguez High School  District    2547363
Shelton High School    Charter     1056600
Thomas High School     Charter     1043130
Wilson High School     Charter     1319574
Wright High School     Charter     1049400
Name: Budget, dtype: int64

In [91]:
#Calculating per pupil spending
per_pupil_spending = (budget_per_school/total_students_per_school)
per_pupil_spending

School Name            Type
Bailey High School     District    628.0
Cabrera High School    Charter     582.0
Figueroa High School   District    639.0
Ford High School       District    644.0
Griffin High School    Charter     625.0
Hernandez High School  District    652.0
Holden High School     Charter     581.0
Huang High School      District    655.0
Johnson High School    District    650.0
Pena High School       Charter     609.0
Rodriguez High School  District    637.0
Shelton High School    Charter     600.0
Thomas High School     Charter     638.0
Wilson High School     Charter     578.0
Wright High School     Charter     583.0
dtype: float64

In [92]:
#Calculating average Math Score per school
avg_mathscore_per_school = school_groups_df["Math Score"].mean()
avg_mathscore_per_school

School Name            Type
Bailey High School     District    77.048432
Cabrera High School    Charter     83.061895
Figueroa High School   District    76.711767
Ford High School       District    77.102592
Griffin High School    Charter     83.351499
Hernandez High School  District    77.289752
Holden High School     Charter     83.803279
Huang High School      District    76.629414
Johnson High School    District    77.072464
Pena High School       Charter     83.839917
Rodriguez High School  District    76.842711
Shelton High School    Charter     83.359455
Thomas High School     Charter     83.418349
Wilson High School     Charter     83.274201
Wright High School     Charter     83.682222
Name: Math Score, dtype: float64

In [93]:
#Calculating average reading score per school
avg_readingscore_per_school = school_groups_df["Reading Score"].mean()
avg_readingscore_per_school

School Name            Type
Bailey High School     District    81.033963
Cabrera High School    Charter     83.975780
Figueroa High School   District    81.158020
Ford High School       District    80.746258
Griffin High School    Charter     83.816757
Hernandez High School  District    80.934412
Holden High School     Charter     83.814988
Huang High School      District    81.182722
Johnson High School    District    80.966394
Pena High School       Charter     84.044699
Rodriguez High School  District    80.744686
Shelton High School    Charter     83.725724
Thomas High School     Charter     83.848930
Wilson High School     Charter     83.989488
Wright High School     Charter     83.955000
Name: Reading Score, dtype: float64

In [94]:
#Locating and adding the conditional statement to the math score column in renamed Data frame
schools_passing_math = renamed_df.loc[renamed_df["Math Score"]>=70]
#Counting the number scores over 70
schools_passing_math.count()
#Grouping by school name and type
schools_passing_math_gb = schools_passing_math.groupby(["School Name", "Type"])
#Creating new varibale to divide the student count from the conditional to the total students per the grouped school
total_schools_passing_math = schools_passing_math_gb["Student ID"].count()/total_students_per_school*100
total_schools_passing_math

School Name            Type
Bailey High School     District    66.680064
Cabrera High School    Charter     94.133477
Figueroa High School   District    65.988471
Ford High School       District    68.309602
Griffin High School    Charter     93.392371
Hernandez High School  District    66.752967
Holden High School     Charter     92.505855
Huang High School      District    65.683922
Johnson High School    District    66.057551
Pena High School       Charter     94.594595
Rodriguez High School  District    66.366592
Shelton High School    Charter     93.867121
Thomas High School     Charter     93.272171
Wilson High School     Charter     93.867718
Wright High School     Charter     93.333333
Name: Student ID, dtype: float64

In [95]:
#Locating and adding the conditional statement to the math score column in renamed Data frame
schools_passing_reading = renamed_df.loc[renamed_df["Reading Score"]>=70]
#Counting the number scores over 70
schools_passing_reading.count()
#Grouping by school name and type
schools_passing_reading_gb = schools_passing_reading.groupby(["School Name", "Type"])
#Creating new varibale to divide the student count from the conditional to the total students per the grouped school
total_schools_passing_reading = schools_passing_reading_gb["Student ID"].count()/total_students_per_school*100
total_schools_passing_reading

School Name            Type
Bailey High School     District    81.933280
Cabrera High School    Charter     97.039828
Figueroa High School   District    80.739234
Ford High School       District    79.299014
Griffin High School    Charter     97.138965
Hernandez High School  District    80.862999
Holden High School     Charter     96.252927
Huang High School      District    81.316421
Johnson High School    District    81.222432
Pena High School       Charter     95.945946
Rodriguez High School  District    80.220055
Shelton High School    Charter     95.854628
Thomas High School     Charter     97.308869
Wilson High School     Charter     96.539641
Wright High School     Charter     96.611111
Name: Student ID, dtype: float64

In [64]:
#Adding the two conditionals and combining those two conditionals. Grouping by the school name, and counting the number of students within the school that meet the conditional. Finally dividing it by the total students per school.
school_overall_passing_percentage = renamed_df[(renamed_df["Reading Score"] >= 70) & (renamed_df["Math Score"] >= 70)].groupby("School Name")["Student ID"].count()/total_students_per_school*100
school_overall_passing_percentage

School Name            Type
Bailey High School     District    54.642283
Cabrera High School    Charter     91.334769
Figueroa High School   District    53.204476
Ford High School       District    54.289887
Griffin High School    Charter     90.599455
Hernandez High School  District    53.527508
Holden High School     Charter     89.227166
Huang High School      District    53.513884
Johnson High School    District    53.539172
Pena High School       Charter     90.540541
Rodriguez High School  District    52.988247
Shelton High School    Charter     89.892107
Thomas High School     Charter     90.948012
Wilson High School     Charter     90.582567
Wright High School     Charter     90.333333
Name: Student ID, dtype: float64

In [65]:
#Creating a dataframe for calculations throughout the code
school_summary_df = pd.DataFrame({"Total Students Per School": total_students_per_school,
                                  "Budget Per School": budget_per_school,
                                  "Spending Per Pupil": per_pupil_spending,
                                  "Average Score Per School (Math)": avg_mathscore_per_school,
                                  "Average Score Per School (Reading)": avg_readingscore_per_school,
                                  "Pass Rate Per School (Math)": total_schools_passing_math,
                                  "Pass Rate Per School (Reading)":total_schools_passing_reading,
                                  "Schools Overall Pass Rate":school_overall_passing_percentage})
#Creating a formatted dataframe so it looks pretty!
formatted_school_summary_df = pd.DataFrame({"Total Students Per School": total_students_per_school,
                                  "Budget Per School": budget_per_school.map("${:,.2f}".format),
                                  "Spending Per Pupil": per_pupil_spending.map("${:,.2f}".format),
                                  "Average Score Per School (Math)": avg_mathscore_per_school.map("{:.2f}".format),
                                  "Average Score Per School (Reading)": avg_readingscore_per_school.map("{:.2f}".format),
                                  "Pass Rate Per School (Math)": total_schools_passing_math.map("{:.2f}%".format),
                                  "Pass Rate Per School (Reading)":total_schools_passing_reading.map("{:.2f}%".format),
                                  "Schools Overall Pass Rate":school_overall_passing_percentage.map("{:.2f}%".format)})

formatted_school_summary_df

,,Total Students Per School,Budget Per School,Spending Per Pupil,Average Score Per School (Math),Average Score Per School (Reading),Pass Rate Per School (Math),Pass Rate Per School (Reading),Schools Overall Pass Rate
School Name,Type,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [66]:
#Creating a dataframe for calculations throughout the code
per_school_df = school_summary_df[["Total Students Per School",
                                  "Budget Per School",
                                  "Spending Per Pupil",
                                  "Average Score Per School (Math)",
                                  "Average Score Per School (Reading)",
                                  "Pass Rate Per School (Math)",
                                  "Pass Rate Per School (Reading)",
                                  "Schools Overall Pass Rate"]]
#Creating a formatted dataframe so it looks pretty!
formatted_per_school_df = pd.DataFrame({"Total Students Per School": total_students_per_school,
                                  "Budget Per School": budget_per_school.map("${:,.2f}".format),
                                  "Spending Per Pupil": per_pupil_spending.map("${:,.2f}".format),
                                  "Average Score Per School (Math)": avg_mathscore_per_school.map("{:.2f}".format),
                                  "Average Score Per School (Reading)": avg_readingscore_per_school.map("{:.2f}".format),
                                  "Pass Rate Per School (Math)": total_schools_passing_math.map("{:.2f}%".format),
                                  "Pass Rate Per School (Reading)":total_schools_passing_reading.map("{:.2f}%".format),
                                  "Schools Overall Pass Rate":school_overall_passing_percentage.map("{:.2f}%".format)})

formatted_per_school_df

,,Total Students Per School,Budget Per School,Spending Per Pupil,Average Score Per School (Math),Average Score Per School (Reading),Pass Rate Per School (Math),Pass Rate Per School (Reading),Schools Overall Pass Rate
School Name,Type,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

In [25]:
#Sorting top five schools
top_five_performing_schools = per_school_df.sort_values(["Schools Overall Pass Rate"],ascending = False).head(5)
top_five_performing_schools

,,Total Students Per School,Budget Per School,Spending Per Pupil,Average Score Per School (Math),Average Score Per School (Reading),Pass Rate Per School (Math),Pass Rate Per School (Reading),Schools Overall Pass Rate
School Name,Type,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [26]:
#Sorting bottom five schools
bottom_five_performing_schools = per_school_df.sort_values(["Schools Overall Pass Rate"],ascending = True).head(5)
bottom_five_performing_schools

,,Total Students Per School,Budget Per School,Spending Per Pupil,Average Score Per School (Math),Average Score Per School (Reading),Pass Rate Per School (Math),Pass Rate Per School (Reading),Schools Overall Pass Rate
School Name,Type,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [68]:
#Grouping each grade and calculating the average math scores for each grade
ninth_grade_math = renamed_df.loc[renamed_df["Grade"]=="9th"].groupby("School Name")["Math Score"].mean()
tenth_grade_math = renamed_df.loc[renamed_df["Grade"]=="10th"].groupby("School Name")["Math Score"].mean()
eleventh_grade_math = renamed_df.loc[renamed_df["Grade"]=="11th"].groupby("School Name")["Math Score"].mean()
twelfth_grade_math = renamed_df.loc[renamed_df["Grade"]=="12th"].groupby("School Name")["Math Score"].mean()

#Creating the data frame
school_math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math.map("{:.2f}%".format),
    "10th": tenth_grade_math.map("{:.2f}%".format),
    "11th": eleventh_grade_math.map("{:.2f}%".format),
    "12th": twelfth_grade_math.map("{:.2f}%".format)
})

school_math_scores_by_grade.head()

                         9th    10th    11th    12th
School Name
Bailey High School    77.08%  77.00%  77.52%  76.49%
Cabrera High School   83.09%  83.15%  82.77%  83.28%
Figueroa High School  76.40%  76.54%  76.88%  77.15%
Ford High School      77.36%  77.67%  76.92%  76.18%
Griffin High School   82.04%  84.23%  83.84%  83.36%

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [69]:
#Grouping each grade and calculating the average math scores for each grade
ninth_grade_reading = renamed_df.loc[renamed_df["Grade"]=="9th"].groupby("School Name")["Reading Score"].mean()
tenth_grade_reading = renamed_df.loc[renamed_df["Grade"]=="10th"].groupby("School Name")["Reading Score"].mean()
eleventh_grade_reading = renamed_df.loc[renamed_df["Grade"]=="11th"].groupby("School Name")["Reading Score"].mean()
twelfth_grade_reading = renamed_df.loc[renamed_df["Grade"]=="12th"].groupby("School Name")["Reading Score"].mean()

#Creating the data frame
school_reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_reading.map("{:.2f}%".format),
    "10th": tenth_grade_reading.map("{:.2f}%".format),
    "11th": eleventh_grade_reading.map("{:.2f}%".format),
    "12th": twelfth_grade_reading.map("{:.2f}%".format)
})

school_reading_scores_by_grade.head()

                         9th    10th    11th    12th
School Name
Bailey High School    81.30%  80.91%  80.95%  80.91%
Cabrera High School   83.68%  84.25%  83.79%  84.29%
Figueroa High School  81.20%  81.41%  80.64%  81.38%
Ford High School      80.63%  81.26%  80.40%  80.66%
Griffin High School   83.37%  83.71%  84.29%  84.01%

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [56]:
#Binning and adding labels
school_spending_per_pupil_bins = [575,593.75,612.50,631.25,999999]
school_spending_per_pupil_labels = ["575-593.74", "593.75-612.49","612.50-631.24",">631.25"]
#Locating the columns i need out of the school summary DF
school_spending_binning = school_summary_df.loc[:,["Average Score Per School (Math)","Average Score Per School (Reading)","Pass Rate Per School (Math)", "Pass Rate Per School (Reading)", "Schools Overall Pass Rate"]]

#Adding a new column
school_spending_binning["School Spending Per Pupil"]=pd.cut(school_summary_df["Spending Per Pupil"],school_spending_per_pupil_bins, labels= school_spending_per_pupil_labels, include_lowest=True)

#Grouping by the newly created column
school_spending = school_spending.groupby("School Spending Per Pupil")
school_spending.mean().head()

,Average Score Per School (Math),Average Score Per School (Reading),Pass Rate Per School (Math),Pass Rate Per School (Reading),Schools Overall Pass Rate
School Spending Per Pupil,,,,,
575-593.74,83.455399,83.933814,0.934601,0.966109,0.903695
593.75-612.49,83.599686,83.885211,0.942309,0.959003,0.902163
612.50-631.24,80.199966,82.425360,0.800362,0.895361,0.726209
>631.25,77.866721,81.368774,0.703473,0.829956,0.588587

## Scores by School Size

* Perform the same operations as above, based on school size.

In [60]:
#Binning and adding labels
school_size_bins = [1564,2701,3838,99999]
school_size_labels = ["Small Size School(400-1563)","Medium Size School(1564-3837)","Large Size School (3838-5000)"]
#Locating the columns i need out of the school summary DF
school_size_binning = school_summary_df.loc[:,["Average Score Per School (Math)","Average Score Per School (Reading)","Pass Rate Per School (Math)", "Pass Rate Per School (Reading)", "Schools Overall Pass Rate"]]
#Adding a new column
school_size_binning["School Size"]=pd.cut(school_summary_df["Total Students Per School"],school_size_bins, labels= school_size_labels, include_lowest=True)

#Grouping by the newly created column
school_size = school_size_binning.groupby("School Size")
school_size.mean().head()

,Average Score Per School (Math),Average Score Per School (Reading),Pass Rate Per School (Math),Pass Rate Per School (Reading),Schools Overall Pass Rate
School Size,,,,,
Small Size School(400-1563),83.359224,83.898984,0.936948,0.966708,0.906182
Medium Size School(1564-3837),76.814591,81.029000,0.666607,0.804516,0.536694
Large Size School (3838-5000),77.063340,80.919864,0.664643,0.810597,0.536743

## Scores by School Type

* Perform the same operations as above, based on school type

In [72]:
#Grouping by the School Type
school_type = renamed_df.groupby("Type")

#Making the calculations
type_avg_math = school_type["Math Score"].mean()
type_avg_reading = school_type["Reading Score"].mean()
type_percentage_passing_math= renamed_df[renamed_df["Math Score"]>70].groupby("Type")["Student ID"].count()/school_type["Student ID"].count()*100
type_percentage_passing_reading= renamed_df[renamed_df["Reading Score"]>70].groupby("Type")["Student ID"].count()/school_type["Student ID"].count()*100
type_overall_percentage_passing = renamed_df[(renamed_df["Math Score"]>70) & (renamed_df["Reading Score"]>70)].groupby("Type")["Student ID"].count()/school_type["Student ID"].count()*100

#Creating the DataFrame
school_scores_by_type = pd.DataFrame({"Average Math Score": type_avg_math.map("{:.2f}".format),
                                     "Average Reading Score": type_avg_reading.map("{:.2f}".format),
                                     "Percentage Passing Math": type_percentage_passing_math.map("{:.2f}%".format),
                                     "Percentage Passing Reading": type_percentage_passing_reading.map("{:.2f}%".format),
                                     "Overall Percentage Passing": type_overall_percentage_passing.map("{:.2f}%".format)})

school_scores_by_type.head()

,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Overall Percentage Passing
Type,,,,,
Charter,83.41,83.90,90.28%,93.15%,84.18%
District,76.99,80.96,64.31%,78.37%,50.23%

## PyCity School Analysis

When looking at the district data we can only see an overall view of how the school district performed over this academic year's testing cycle. It is reassuring that both the percentages of students passing math and reading are above 70% proficiency in those core testing area's. However, there is a cause of concern when looking at the students passing both subjects. This would make clear that there is a deficiency somewhere within the curriculum as testing data supports that there is a lower percentage of students able to become proficent in both reading and mathmatics.

As we grouped the schools by type, it became abundently clear that the schools that were striving in their testing results were primarily charter schools. The lower performing schools were district supervised schools. Additionally, the spending per pupil had a slightly negitive correlation on testing scores. This is particularly alarming as spending per pupil does not increase the testing scores. This would lead tax payers to believe that their tax dollars are not increasing student achievement. School class sizes seems to have an impact on student testing performances, however, this is a bit misleading as many of the charter schools, which have a different set of critera and more freedom from district centalization tend to fall in the small school population bins.

Finally, an alarming trend is that across the board, is that Charter schools are seeing a higher achievement rate than that of centrally controlled district schools. There are a myrad of reasons as to why this may occur, and further analysis of the curriclum will need to be conducted to accurately dipict these deficiencies. However, the data does suggest that the centralization schools is not an effective method of maximizing student achievement.