### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import os
import csv
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_csv = os.path.join("Resources/School_Data.csv")
student_data_csv = os.path.join("Resources/Student_Data.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_csv)
student_data = pd.read_csv(student_data_csv)

# Combine the data into a single dataset.  
district_testing_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
district_testing_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [4]:
# # selecting data
# identification_df=district_testing_df[["student_name", "school_name"]]
renamed_df = district_testing_df.rename(columns = {"student_name": "Student Name", "gender": "Gender", 
                                                   "grade": "Grade", "school_name":"School Name",
                                                   "reading_score": "Reading Score", "math_score":"Math Score",
                                                  "type": "Type", "size": "Size", "budget": "Budget"})
renamed_df.head()
# identification_df.columns({"student_name":"Student Name", "school_name":"School Name"})

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type,Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [14]:
total_schools = renamed_df["School Name"].unique()
total_schools = len(total_schools)
total_schools

15

In [15]:
# Tabulating Total Students
total_students = student_data["Student ID"].count()
total_students

39170

In [16]:
# Tabulating Total Budget
budget = renamed_df["Budget"].unique().sum()
budget

24649428

In [17]:
#Calculate the average math score
average_math_scores= renamed_df["Math Score"].mean()
average_math_scores

78.98537145774827

In [18]:
# Calculate the average reading score
average_reading_scores = renamed_df["Reading Score"].mean()
average_reading_scores

81.87784018381414

In [19]:
# Calculate the percentage of students with a passing math score (70 or greater)
math_percentage = district_testing_df.loc[district_testing_df["math_score"]>=70]
passing_math_percentage=math_percentage["School ID"].count()/ total_students*100
passing_math_percentage

74.9808526933878

In [20]:
# Calculate the percentage of students with a passing reading score (70 or greater)
reading_percentage = district_testing_df.loc[district_testing_df["reading_score"]>=70]
passing_reading_percentage = reading_percentage["School ID"].count()/ total_students*100
passing_reading_percentage

85.80546336482001

In [21]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
pass_percentage = math_percentage.loc[math_percentage["reading_score"]>=70]
overall_pass_percentage = pass_percentage["School ID"].count()/total_students*100
overall_pass_percentage

65.17232575950983

In [22]:
# Create a dataframe to hold the above results
district_summary_df = pd.DataFrame({"Total Schools": [total_schools],
                                    "Total Students":[total_students],
                                    "Total Budget":[budget],
                                    "Average Math Scores": [average_math_scores],
                                    "Average Reading Scores": [average_reading_scores], 
                                    "Percentage Passed (Math)": [passing_math_percentage],
                                    "Percentage Passed (Reading)": [passing_reading_percentage],
                                    "Overall Passing Percentage":[overall_pass_percentage]})

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Scores,Average Reading Scores,Percentage Passed (Math),Percentage Passed (Reading),Overall Passing Percentage
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [23]:
school_data_df = renamed_df[["School ID","School Name","Type","Size", "Budget", "Student Name", "Student ID", "Gender", "Grade", "Reading Score", "Math Score" ]].copy()
school_data_df.head()

,School ID,School Name,Type,Size,Budget,Student Name,Student ID,Gender,Grade,Reading Score,Math Score
0,0,Huang High School,District,2917,1910635,Paul Bradley,0,M,9th,66,79
1,0,Huang High School,District,2917,1910635,Victor Smith,1,M,12th,94,61
2,0,Huang High School,District,2917,1910635,Kevin Rodriguez,2,M,12th,90,60
3,0,Huang High School,District,2917,1910635,Dr. Richard Scott,3,M,12th,67,58
4,0,Huang High School,District,2917,1910635,Bonnie Ray,4,F,9th,97,84

In [24]:
school_groups_df = school_data_df.groupby(["School Name", "Type"])
school_groups_df.count().head()

,,School ID,Size,Budget,Student Name,Student ID,Gender,Grade,Reading Score,Math Score
School Name,Type,,,,,,,,,
Bailey High School,District,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,Charter,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,District,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,District,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,Charter,1468,1468,1468,1468,1468,1468,1468,1468,1468

In [25]:
total_students_per_school = school_groups_df["Student ID"].count()
total_students_per_school

School Name            Type
Bailey High School     District    4976
Cabrera High School    Charter     1858
Figueroa High School   District    2949
Ford High School       District    2739
Griffin High School    Charter     1468
Hernandez High School  District    4635
Holden High School     Charter      427
Huang High School      District    2917
Johnson High School    District    4761
Pena High School       Charter      962
Rodriguez High School  District    3999
Shelton High School    Charter     1761
Thomas High School     Charter     1635
Wilson High School     Charter     2283
Wright High School     Charter     1800
Name: Student ID, dtype: int64

In [26]:
budget_per_school = school_groups_df["Budget"].mean()
budget_per_school

School Name            Type
Bailey High School     District    3124928
Cabrera High School    Charter     1081356
Figueroa High School   District    1884411
Ford High School       District    1763916
Griffin High School    Charter      917500
Hernandez High School  District    3022020
Holden High School     Charter      248087
Huang High School      District    1910635
Johnson High School    District    3094650
Pena High School       Charter      585858
Rodriguez High School  District    2547363
Shelton High School    Charter     1056600
Thomas High School     Charter     1043130
Wilson High School     Charter     1319574
Wright High School     Charter     1049400
Name: Budget, dtype: int64

In [27]:
per_pupil_spending = (budget_per_school/total_students_per_school)
per_pupil_spending

School Name            Type
Bailey High School     District    628.0
Cabrera High School    Charter     582.0
Figueroa High School   District    639.0
Ford High School       District    644.0
Griffin High School    Charter     625.0
Hernandez High School  District    652.0
Holden High School     Charter     581.0
Huang High School      District    655.0
Johnson High School    District    650.0
Pena High School       Charter     609.0
Rodriguez High School  District    637.0
Shelton High School    Charter     600.0
Thomas High School     Charter     638.0
Wilson High School     Charter     578.0
Wright High School     Charter     583.0
dtype: float64

In [28]:
avg_mathscore_per_school = school_groups_df["Math Score"].mean()
avg_mathscore_per_school

School Name            Type
Bailey High School     District    77.048432
Cabrera High School    Charter     83.061895
Figueroa High School   District    76.711767
Ford High School       District    77.102592
Griffin High School    Charter     83.351499
Hernandez High School  District    77.289752
Holden High School     Charter     83.803279
Huang High School      District    76.629414
Johnson High School    District    77.072464
Pena High School       Charter     83.839917
Rodriguez High School  District    76.842711
Shelton High School    Charter     83.359455
Thomas High School     Charter     83.418349
Wilson High School     Charter     83.274201
Wright High School     Charter     83.682222
Name: Math Score, dtype: float64

In [29]:
avg_readingscore_per_school = school_groups_df["Reading Score"].mean()
avg_readingscore_per_school

School Name            Type
Bailey High School     District    81.033963
Cabrera High School    Charter     83.975780
Figueroa High School   District    81.158020
Ford High School       District    80.746258
Griffin High School    Charter     83.816757
Hernandez High School  District    80.934412
Holden High School     Charter     83.814988
Huang High School      District    81.182722
Johnson High School    District    80.966394
Pena High School       Charter     84.044699
Rodriguez High School  District    80.744686
Shelton High School    Charter     83.725724
Thomas High School     Charter     83.848930
Wilson High School     Charter     83.989488
Wright High School     Charter     83.955000
Name: Reading Score, dtype: float64

In [62]:
schools_passing_math = renamed_df.loc[renamed_df["Math Score"]>=70]
schools_passing_math.count()
schools_passing_math_gb = schools_passing_math.groupby(["School Name", "Type"])
total_schools_passing_math = schools_passing_math_gb["Student ID"].count()/total_students_per_school
total_schools_passing_math

School Name            Type
Bailey High School     District    0.666801
Cabrera High School    Charter     0.941335
Figueroa High School   District    0.659885
Ford High School       District    0.683096
Griffin High School    Charter     0.933924
Hernandez High School  District    0.667530
Holden High School     Charter     0.925059
Huang High School      District    0.656839
Johnson High School    District    0.660576
Pena High School       Charter     0.945946
Rodriguez High School  District    0.663666
Shelton High School    Charter     0.938671
Thomas High School     Charter     0.932722
Wilson High School     Charter     0.938677
Wright High School     Charter     0.933333
Name: Student ID, dtype: float64

In [63]:
schools_passing_reading = renamed_df.loc[renamed_df["Reading Score"]>=70]
schools_passing_reading
schools_passing_reading_gb = schools_passing_reading.groupby(["School Name", "Type"])
total_schools_passing_reading = schools_passing_reading_gb["Student ID"].count()/total_students_per_school
total_schools_passing_reading

School Name            Type
Bailey High School     District    0.819333
Cabrera High School    Charter     0.970398
Figueroa High School   District    0.807392
Ford High School       District    0.792990
Griffin High School    Charter     0.971390
Hernandez High School  District    0.808630
Holden High School     Charter     0.962529
Huang High School      District    0.813164
Johnson High School    District    0.812224
Pena High School       Charter     0.959459
Rodriguez High School  District    0.802201
Shelton High School    Charter     0.958546
Thomas High School     Charter     0.973089
Wilson High School     Charter     0.965396
Wright High School     Charter     0.966111
Name: Student ID, dtype: float64

In [66]:
school_overall_passing_percentage = (total_schools_passing_reading + total_schools_passing_math)/2
school_overall_passing_percentage

# pass_percentage = math_percentage.loc[math_percentage["reading_score"]>=70]
# overall_pass_percentage = pass_percentage["School ID"].count()/total_students*100
# overall_pass_percentage

School Name            Type
Bailey High School     District    0.743067
Cabrera High School    Charter     0.955867
Figueroa High School   District    0.733639
Ford High School       District    0.738043
Griffin High School    Charter     0.952657
Hernandez High School  District    0.738080
Holden High School     Charter     0.943794
Huang High School      District    0.735002
Johnson High School    District    0.736400
Pena High School       Charter     0.952703
Rodriguez High School  District    0.732933
Shelton High School    Charter     0.948609
Thomas High School     Charter     0.952905
Wilson High School     Charter     0.952037
Wright High School     Charter     0.949722
Name: Student ID, dtype: float64

In [80]:

school_summary_df = pd.DataFrame({"Total Students Per School": total_students_per_school,
                                  "Budget Per School": budget_per_school,
                                  "Spending Per Pupil": per_pupil_spending,
                                  "Average Score Per School (Math)": avg_mathscore_per_school,
                                  "Average Score Per School (Reading)": avg_readingscore_per_school,
                                  "Pass Rate Per School (Math)": schools_passing_math,
                                  "Pass Rate Per School (Reading)":schools_passing_reading,
                                  "Schools Overall Pass Rate":school_overall_passing_percentage})

school_summary_df

ValueError: Shape of passed values is (11, 8), indices imply (15, 8)

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type